.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;

  &__options {
    display: flex;
    gap: 50px;
    font-size: 30px;
  }

  &__loader {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 20px;
  }

  &__animals {
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3, 150px);
    flex: 1;
    align-content: center;
    gap: 10px;
  }

  &__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}
